<div id="<%= dom_id friend %>">
  <p>
    <strong>Firstname:</strong>
    <%= friend.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= friend.lastName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>
